<!DOCTYPE html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<title>{%block title%}Auth{%endblock%} – Neighborhood</title>
		<meta name="description" content="#">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="manifest" href="{{url_for('static', filename = 'manifest.json')}}" />
		<!-- Bootstrap core CSS -->
		<link href="{{url_for('static', filename = 'dist/css/lib/bootstrap.min.css')}}" type="text/css" rel="stylesheet">
		<!-- Swipe core CSS -->
		<link href="{{url_for('static', filename = 'dist/css/swipe.min.css')}}" type="text/css" rel="stylesheet">
		<!-- Favicon -->
		<link href="{{url_for('static', filename = 'dist/img/favicon.png')}}" type="image/png" rel="icon">
	</head>
	<body class="start">
		<main>
			<div>
				{%for alert in get_flashed_messages(with_categories = True)%}
					<div class="alert alert-secondary alert-dismissible bg-{{alert[0]}} text-white border-0 fade show" role="alert">
						<button type = "button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
						</button>
								{{alert[1]}}
					</div>
				{%endfor%}
			</div>
            {%block stage%}
            {%endblock%}
		</main>
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{{url_for('static', filename = 'dist/js/jquery-3.3.1.slim.min.js')}}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script>window.jQuery || document.write(`<script src="{{url_for('static', filename = 'dist/js/vendor/jquery-slim.min.js')}}"><\/script>`)</script>
		<script src="{{url_for('static', filename = 'dist/js/vendor/popper.min.js')}}"></script>
		<script src="{{url_for('static', filename = 'dist/js/bootstrap.min.js')}}"></script>
		<script src="{{url_for('static', filename = 'app.js')}}"></script>
	</body>

</html>